/* --------------- */
/*  LAYOUT         */
/* --------------- */
html {
  background: map_get($layout-colors, 5);
}

* {;
  font: map_get($fonts, body);
  color: map_get($text-colors, body);
}

.danger {
  color: map_get($theme-colors, danger);
}

.document-wrapper { // In router.js
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-wrapper { // In router.js
  display: flex;
  flex: 1;
  max-height: calc(100vh - 112px);
}

.content-wrapper { // In router.js
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: $theme-content-padding;
}

.grid-wrapper { // Global container of pages
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
}

.grid { // Sub container, makes the layout to have multiple columns
  display: flex;
  flex: 1;
  max-height: 100%;
}

.column { // Column container
  display: flex;
  flex-direction: column;
  flex: 1;

  &:not(:last-child) {
    margin-right: $theme-grid-gutter-size;
  }

  section {
    padding: $theme-section-padding;
    border-radius: $theme-section-radius;
    background: map_get($layout-colors, section);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;

    header {
      padding: 0 8px;
      margin-bottom: 16px;

      &.filter {
        padding: 0 8px;
        align-items: center;

        input {
          background: map_get($layout-colors, 5);

          &.regex {
            letter-spacing: 3px;
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: $theme-section-vertical-space;
    }

    .error {

    }
  }
}

/* --------------- */
/*  TABLES         */
/* --------------- */
table {
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead th, thead th span {
  text-transform: uppercase;
  font: map_get($fonts, thead);
  color: map_get($text-colors, thead);
  height: 40px;
  vertical-align: middle;

  &:first-child {
    padding-left: 8px;
  }
  &:last-child {
    padding-right: 8px;
  }
}

tbody tr td {
  height: 28px;
  vertical-align: middle;

  &:first-child {
    padding-left: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  &:last-child {
    padding-right: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

tbody tr:hover td, tbody tr.selected td {
  background: map_get($layout-colors, 7);
}

/* --------------- */
/*  HEADINGS         */
/* --------------- */
h1 {
  font: map_get($fonts, h1);
  color: map_get($text-colors, h1);
}

h2 {
  font: map_get($fonts, h2);
  color: map_get($text-colors, h2);
}

h3 {
  font: map_get($fonts, h3);
  color: map_get($text-colors, h3);
  text-transform: uppercase;
}

h4 {
  font: map_get($fonts, h4);
  color: map_get($text-colors, h4);
  text-transform: uppercase;
}

/* --------------- */
/*  FORMS         */
/* --------------- */

input[type=text] {
  border: none;
  border-radius: $theme-inline-radius;
  height: 48px;
  background: none;
  padding: 0 12px;
  font: map_get($fonts, input);
  color: map_get($text-colors, input);
  @include transition();
  transition-property: box-shadow, letter-spacing;
  box-shadow: 0px 0px 0px map_get($layout-colors, 8);
  &::-moz-placeholder {
    line-height: 48px;
  }
  &::placeholder {
    font: map_get($fonts, input-placeholder);
    color: map_get($text-colors, input-placeholder);
    letter-spacing: initial;

  }

  &:focus {
    @include elevate();
  }
}

/* --------------- */
/*  BUTTONS         */
/* --------------- */
button {
  background: none;
  border: none;
  padding: 0 16px;
  position: relative;
  cursor: pointer;
  border-radius: $theme-inline-radius;

  &.toggle {
    @include transition();
    font: map_get($fonts, button-outline);
    color: map_get($theme-colors, 1);
    fill: map_get($theme-colors, 1);
    box-shadow: inset 0 0 0 2px map_get($theme-colors, 1);

    &.active {
      box-shadow: inset 0 0 0 100px map_get($theme-colors, 1);
      color: map_get($layout-colors, 6);
      fill: map_get($layout-colors, 6);
    }
  }
  &.danger {
    color: map_get($layout-colors, 7);
    font: map_get($fonts, button-outline);
    box-shadow: inset 0 0 0 2px map_get($theme-colors, danger);
    background: map_get($theme-colors, danger);
  }
  &.regular {
    color: map_get($theme-colors, 1);
    font: map_get($fonts, button-outline);
    box-shadow: inset 0 0 0 2px map_get($layout-colors, 5);
    background: map_get($layout-colors, 5);
  }

}

