.delete-topics-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    @extend .danger;
  }

  .content {
    position: relative;
    bottom: initial;
    right: initial;
    display: inline-block;
    width: 500px;

    .loader {
      padding: 10px 0;
      height: auto;
    }

    .warning {
      font-size: 24px;

      b {
        color: red;
        text-decoration: underline;
      }
    }

    .topics {
      min-height: 200px;
      max-height: 300px;
      overflow: auto;
    }

    .first-confirm-line, .second-confirm-line {
      display: flex;
      align-items: center;

      .yes {
        margin-right: 15px;
        background-color: green;
      }

      .no {
        background-color: red;
      }
    }

    .second-confirm-line {
      display: inline-block;

      .input-topics-number {
        border: solid lightgrey 1px;
        border-radius: 3px;
        height: 34px;
        width: 100px;
        padding: 0 10px;
      }
    }
  }
}
