
.menu .menu-toggle-button {
    cursor: pointer;
}

.menu .menu-content {
    position: absolute;
    max-width: 300px;
    min-width: 180px;
    padding: 8px 0;
    z-index: 1000;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    opacity: 0;
    transition: all 0s ease;
    transform-origin: right top 0;
    transform: scale(0);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.menu .menu-content.active {
    opacity: 1;
    animation: menuAnimation 0.25s ease-in;
    animation-fill-mode: forwards;
}

@keyframes menuAnimation {
    0% {
        opacity: 1;
    }
    50% {
        transform: scale(1, 0.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

.menu .menu-content ul {
    min-width: 120px;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.menu .menu-content ul li {
    color: rgba(0, 0, 0, .87);
    padding: 0 16px;
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.menu .menu-content.active li {
    opacity: 1;
    transform: translateY(0px);
}
