.sidebar {
  width: 120px;
  background: map_get($layout-colors, nav-bars);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  @if $theme-sidebar-shadow {
    box-shadow: 30px 0 60px rgba(map_get($layout-colors, 8), .3);
  }

  .sidenav-items {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidenav-item {
      position: relative;
      cursor: pointer;
      width: 120px;
      height: 120px;
      color: map_get($text-colors, sidebar-links);
      @include center(true, true);
      display: flex;
      flex-direction: column;
      align-items: center;

      .label {
        display: block;
        margin-top: 8px;
        color: map_get($text-colors, sidebar-links);
      }

      svg {
        fill: map_get($text-colors, sidebar-links);
      }

      &.selected {
        svg {
          fill: map_get($text-colors, sidebar-link-selected);
        }

        .label {
          color: map_get($text-colors, sidebar-link-selected);
        }
      }
    }
  }

  .theme-menu {
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .dropdown-menu-trigger {
      min-width: 100% !important;
      font-size: 16px !important;
      padding-right: 0 !important;
      border-radius: 0;
    }

    .dropdown-menu-content {
      left: 8px;
      width: 160px;
    }
  }

  .themes {
    padding: 5px;

    .theme {
      width: 100%;
      padding: 5px 0;
      cursor: pointer;
      text-align: center;
      display: block;
    }
  }
}
