
.top-header {
  @include center();
  align-items: center;
  min-height: 112px;
  max-height: 112px;
  background: map_get($layout-colors, nav-bars);
  padding-right: 48px;

  @if $theme-topnav-shadow {
    box-shadow: 0 30px 60px rgba(map_get($layout-colors, 8), .3);
  }

  .logo {
    @include center(true, true);
    min-width: 120px;
    min-height: 112px;
    max-height: 112px;
    background: linear-gradient(135deg, map_get($theme-colors, 1), map_get($theme-colors, 2));

    svg {
      fill: map_get($layout-colors, 7);
    }
  }
  .breadcrumb {
    @include center();
    padding-left: 64px;

    .item {
      position: relative;
      color: map_get($text-colors, breadcrumb-item);
      font: map_get($fonts, breadcrumb-item);
      padding-right: 24px;
      margin-right: 24px;

      &:after {
        content: "\002F";
        position: absolute;
        right: 0;
      }
    }
  }
}

.context-actions {
  position: fixed;
  z-index: 99;
  top: 32px;
  right: 352px;

  .address {
    max-width: 310px;
    height: 48px;
    margin-left: 16px;
    border-radius: $theme-inline-radius;
    background: map_get($layout-colors, 5);
    overflow: hidden;
    position: relative;

    &.zookeeper .key {
      color: map_get($theme-colors, zookeeper);
    }
    &.kafka .key {
      color: map_get($theme-colors, kafka);
    }

    .tooltip{
      font: map_get($fonts, code);
      padding: 8px 12px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -16px);
      top: calc(100% + 4px);
      background: rgba(map_get($layout-colors, 6), .8);
      border: 1px solid map_get($layout-colors, 6);
      border-radius: $theme-inline-radius;
      @include transition();
      @include hide();
    }

    &:hover {
      overflow: initial;
      .tooltip{
        display: block;
        @include show();
        transform: translate(-50%, 0);
      }
    }

    .key {
      font: map_get($fonts, address);
      text-transform: uppercase;
      padding-left: 16px;
      margin-right: 16px;
    }
    .value {
      font: map_get($fonts, code);
      overflow: hidden;
      padding-left: 16px;
      text-overflow: ellipsis;
    }
  }

  button {
    height: 48px;
    margin-left: 16px;
  }
}
