@import '../../../../constants';

.topic-settings-modal {
  .content {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    height: 700px;
    width: 530px;

    .title {
      .edit-icon {
        margin-top: 6px;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
          fill: $primary-color;
        }

        &:active {
          fill: $primary-color-dark;
        }
      }
    }

    .loader {
      height: initial;
      flex: 1 1;
    }

    .topic-settings {
      margin-top: 15px;
      min-height: 300px;
      min-width: 500px;
      max-width: 500px;
      flex: 1 1;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      position: relative;

      .scrollbar-container {
        max-height: 550px;
      }

      .topic-details-configurationGroup {
        margin-bottom: 20px;

        .topic-details-configurationGroup-title {
          font-size: 18px;
          margin-top: 0;
          line-height: 100%;
        }

        .topic-details-configuration {
          position: relative;

          .topic-details-configuration-key {
            font-size: 14px;
          }

          .topic-details-configuration-value {
            position: absolute;
            left: 280px;

            &.string {
              color: #347138;

              &:before, &:after {
                content: '"'
              }
            }

            &.number {
              color: #0D47A1;
            }

            &.boolean {
              color: #00b0ff;
            }

            &.null {
              color: #adadad;
            }
          }
        }
      }
    }

    .edition {
      background-color: #fff;
      border-radius: 3px;
      flex: 1 1;
      justify-content: space-between;
      display: flex;
      flex-direction: column;

      #ace-editor {
        margin-top: 15px;
        width: 100% !important;

        * {
          font-family: 'Consolas', 'Monaco', monospace;
        }

        .ace_line {
          font-size: 15px;
        }

        .ace_gutter {
          display: none;
        }

        .ace_scrollbar-h, .ace_scroller {
          left: 0;
        }
      }

      .edit-configuration-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;

        .update {
          background-color: #38cb53;
        }

        .cancel {
          margin-left: 15px;
          background-color: #cb1e1e;
        }
      }
    }

    .close-modal-button, .edit-modal-buttons {
      margin-top: 15px;
      display: flex;
      justify-content: flex-end;

      a {
        margin-left: 15px;
      }
    }
  }
}
