.filter.component {
  position: relative;
  margin-left: 16px;

  input[type="text"] {
    margin-left: 0 !important;
  }

  input[type="button"] {
    border: none;
    padding: 0 16px;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &.active {
      background-color: map_get($theme-colors, 1);
      color: map_get($layout-colors, 5);
    }
  }

  .reg {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    .switch:not(.on) {
      background: map_get($layout-colors, 4);
    }
  }
}
