@import '../../../constants';

.topic.view {
  display: flex;
  flex-direction: row;

  .left-box {
    flex: 4 4;
    min-width: 500px;
    height: calc(100% - 40px);
    position: relative;
    display: flex;
    flex-direction: column;

    .topic-metrics {
      padding-bottom: 15px;

      .loader {
        height: auto;
      }
    }

    .topic-consumers {
      margin-top: 15px;
      max-height: 200px;
      display: flex;
      flex-direction: column;

      .title {
        .topic-consumers-length {
          vertical-align: baseline;
          font-size: 14px;
          color: $dark-grey;
          font-style: italic;
          margin-top: 3px;
          margin-left: 10px;
        }
      }

      .loader {
        height: auto;
      }

      .consumers-items {
        border: none;
        margin: 0;

        .no-consumers {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .consumer-item {
          cursor: pointer;
          padding: 5px 5px 0 5px;
          font-size: 14px;

          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }

          a {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }

    .topic-settings {
      margin-top: 15px;
      flex: 1 1;
      display: flex;
      flex-direction: column;
      position: relative;

      .topic-details-configurationGroup {
        margin-bottom: 20px;

        .topic-details-configurationGroup-title {
          font-size: 18px;
          line-height: 100%;
        }

        .topic-details-configuration {
          position: relative;

          .topic-details-configuration-key {
            font-size: 14px;
          }

          .topic-details-configuration-value {
            position: absolute;
            left: 280px;

            &.string {
              color: #347138;

              &:before, &:after {
                content: '"'
              }
            }

            &.number {
              color: #0D47A1;
            }

            &.boolean {
              color: #00b0ff;
            }

            &.null {
              color: #adadad;
            }
          }
        }
      }

      .edit-config-modal-button{
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    }
  }

  .right-box {
    flex: 6 6;
    margin-left: 15px;
    position: relative;
    display: flex;
    flex-direction: column;

    .topic-partitions {
      flex: 2 2;
      padding-bottom: 15px;
      max-height: 50%;
      width: 100%;
      height: 0;
      position: relative;

      .title {
        display: flex;
        align-items: center;

        .topic-partitions-length {
          font-size: 14px;
          color: $dark-grey;
          font-style: italic;
          margin-top: 3px;
          margin-left: 10px;
        }
      }

      > div:first-child { //react-custom-scrollbar
        height: calc(100% - 42px) !important; //32px = title size, 40px = margin-top
        margin-top: 10px;
      }

      th {
        font-size: 14px;
        padding: 5px 5px 10px 5px;
      }

      tr.notSync {
        background-color: rgba(255, 0, 0, 0.1);
      }

      td {
        font-size: 14px;
        padding: 5px 5px;
        border-radius: 0;
      }

      .add-partition-button {
        height: auto;
        position: absolute;
        bottom: 15px;
        right: 15px;
      }
    }

    .topic-preview {
      flex: 3 3;
      width: 100%;
      margin-top: 15px;
      padding: 10px 20px;
      height: 0;

      .title {
        display: flex;
        align-items: center;

        .topic-messages-length {
          font-size: 14px;
          color: $dark-grey;
          font-style: italic;
          margin-top: 3px;
          margin-left: 10px;
        }
      }

      .menu {
        position: absolute;
        top: 15px;
        right: 15px;
      }

      > div { //react-custom-scrollbar
        height: calc(100% - 42px) !important; //32px = title size, 40px = margin-top
        margin-top: 10px;
      }

      .delete-topic-button, .confirm-delete-topic, .cancel-delete-topic {
        font-size: 14px;
        color: white;
        padding: 0 15px;
        position: absolute;
        bottom: 15px;
        right: 15px;
        cursor: pointer;
      }

      .delete-topic-button, .cancel-delete-topic {
        background-color: #cb1e1e;
      }

      .confirm-delete-topic {
        background-color: #38cb53;
      }

      .cancel-delete-topic, .confirm-delete-topic {
        margin-left: 15px;
        position: relative;
        bottom: 0;
        right: 0;
      }

      .confirm-delete-box {
        position: absolute;
        bottom: 15px;
        right: 15px;
      }

      .topic-preview-item:after {
        display: block;
        content: '';
        height: 1px;
        width: 100%;
        margin: 15px 0;
        background-color: $grey;
      }

      .topic-preview-item:last-child:after {
        display: none;
      }

      .topic-preview-item {
        .topic-preview-key {
          color: $primary-color-dark;
          font-weight: 500;
        }

        .json-pretty {
          overflow: initial;

          .json-string {
            color: #347138;
          }

          .json-value {
            color: #0D47A1;
          }

          .json-boolean {
            color: #00b0ff;
          }
        }

      }

      .topic-preview-item:first-child {
        margin-top: 0;
      }
    }
  }
}

.add-partitions-modal {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);

  .content {
    height: 120px;
    position: absolute;
    right: 55px;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    display: flex;
    align-items: center;

    .icons {
      width: 90px;
      height: fit-content;

      span {
        padding: 5px;
        display: inline-block;
        margin-left: 10px;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &.check svg {
          fill: green;
        }

        &.close svg {
          fill: red;
        }
      }
    }
  }
}

.edit-config-modal {
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    width: 700px;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;

    #ace-editor {
      margin-top: 15px;
      width: 100% !important;

      * {
        font-family: 'Consolas', 'Monaco', monospace;
      }

      .ace_line{
        font-size: 15px;
      }
    }

    .edit-configuration-buttons {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;

      .update {
        background-color: #38cb53;
      }

      .cancel {
        margin-left: 15px;
        background-color: #cb1e1e;
      }
    }
  }
}