.topic-item-view {

  .left-column {
    min-width: 540px;
  }

  .column.darker {
    background: map_get($layout-colors, 7);
    margin: #{-$theme-content-padding}  #{-$theme-content-padding} #{-$theme-content-padding} 0;
    position: relative;

    .filter-section {
      padding: 8px;
      padding-left: calc(#{$theme-content-padding} + 4px);
      height: 64px;
      border-radius: 0;
      background-color: initial;
      margin: 0;

      .filter {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin: 8px 0 8px 8px;
        padding: 0;
      }

      button.filter-by-key {
        height: 48px;
        width: 48px;
        padding: 0;
        margin-left: 8px;
      }
    }

    @if ($theme-message-shadow) {
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to bottom, map_get($layout-colors, 8) 0%, transparent 5%, transparent 95%, map_get($layout-colors, 8) 100%);
        pointer-events: none;
        opacity: .5;
      }
    }

    .message-fetch-type-wrapper {
      position: absolute;
      bottom: 0px;
      right: 0;
      z-index: 101;
      display: flex;
      align-items: center;

      .dropdown-menu {
        margin-left: 0;
        .dropdown-menu-trigger {
          background: linear-gradient(to right, map_get($theme-colors, 1), map_get($theme-colors, 2));
          box-shadow: 0 -20px 40px 0 rgba(map_get($theme-colors, 1), .16);
          color: map_get($layout-colors, 7);

          .mdi-chevron-down {
            color: map_get($layout-colors, 7);
          }
        }
      }

      .message-live-toggle {
        color: map_get($theme-colors, 1);
        background: map_get($layout-colors, 7);
        padding: 0;
        @include scale(48px);

        .mdi {
          color: map_get($theme-colors, 1);
        }
      }

      .message-fetch-title {
        display: flex;
        flex-direction: column;
        min-width: 300px;

        .title {
          font: map_get($fonts, message-fecth-title);
          color: map_get($layout-colors, 7);
        }
        .stats {
          font: map_get($fonts, message-fecth-stats);
          color: map_get($layout-colors, 7);
        }
      }

      .message-fetch-type-switch {

        .dropdown-menu-trigger {
          color: map_get($layout-colors, 6);

          .mdi {
            color: map_get($layout-colors, 6);
          }
        }

      }
    }

    .messages-list {
      top: 64px !important;
      padding-top: 0;
      padding-bottom: calc(80px + #{$theme-content-padding} * 2);
      padding-left: $theme-content-padding;
      @include fit-content();

      button.filters {
        color: map_get($theme-colors, 1);
        background: map_get($layout-colors, 7);
        padding: 0;
        @include scale(48px);

        .mdi {
          color: map_get($theme-colors, 1);
        }
      }

      section {
        padding: 0;
        @include transition();
        opacity: .8;
        background: map_get($layout-colors, section);

        &:hover {
          opacity: 1;
        }

        header {
          position: relative;
          background: map_get($layout-colors, 8);
          height: 56px;
          @include center();
          padding: 0 0 0 24px;

          .key {
            overflow: hidden;
            text-overflow: ellipsis;

            .key-message {
              min-width: 114px !important;
              font: map_get($fonts, key-message);
            }
          }

          .partition {
            font: map_get($fonts, message-partition);
            color: map_get($text-colors, message-partition);
            text-transform: uppercase;
            height: 100%;
            @include center(true, true);
            border-top-right-radius: $theme-section-radius;
            padding: 0 16px;
          }

          .copy-icon {
            cursor: pointer;
            position: absolute;
            right: 8px;
            bottom: -44px;
            padding: 8px;
            border-radius: 50%;

            svg {
              fill: map_get($text-colors, code-punctuation);
              height: 18px;
              width: 18px;
            }
          }
        }

        .timestamp-wrapper {
          position: absolute;
          bottom: 8px;
          right: 8px;
          .timestamp {
            font: map_get($fonts, message-timestamp);
            color: map_get($text-colors, message-timestamp);

            .milliseconds {
              font: inherit;
              color: map_get($text-colors, message-timestamp-ms);
            }
          }
        }

        .simple-message {
          font: map_get($fonts, code);
          line-height: 21px;
          padding: 0 24px 24px 24px;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .__json-pretty__ {
          font: map_get($fonts, code);
          line-height: 21px;
          padding: 0 24px 16px 16px;
          color: map_get($text-colors, code-punctuation);
          overflow: hidden;
          text-overflow: ellipsis;

          .__json-key__ {
            color: map_get($text-colors, code-key);
            font: map_get($fonts, code);
          }
          .__json-string__ {
            color: map_get($text-colors, code-string);
            font: map_get($fonts, code);
          }
          .__json-value__ {
            color: map_get($text-colors, code-value);
            font: map_get($fonts, code);
          }
	  .__json-boolean__ {
            color: map_get($text-colors, code-boolean);
            font: map_get($fonts, code);
          }
        }

        .no-headers {
          padding: 0 24px 16px 16px;
          min-height: 56px;
          color: map_get($text-colors, message-timestamp);
          font-style: italic;
        }
      }
    }
  }

  .partition-datatable, .messages-list {
    @include scroll();

    .displayed-messages {
      font-size: 12px;

      &:before {
        content: '(';
        white-space: pre;
      }

      &:after {
        content: ')';
        white-space: pre;
      }
    }
  }

  .consumer-list {
    padding: 0 8px;

    button {
      height: 32px;
      background: map_get($layout-colors, 5);
      margin: 0 8px 8px 0;

    }
  }

  .synchronizing {
    $danger: map_get($theme-colors, danger);
    background-color: rgba($danger, 0.075);
  }
}
