.modal.component {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(map_get($layout-colors, 8), 0.6);

  .content {
    background-color: map_get($layout-colors, section);
    border-radius: $theme-section-radius;
    box-shadow: 0 8px 16px map_get($layout-colors, 8);
    min-width: 300px;

    header {
      padding: 16px;
      background-color: map_get($layout-colors, 7);
      display: flex;
      align-items: center;

      h2 {
        flex: 1;
      }

      .toggle {
        height: 36px;
      }
    }

    section {
      padding: 16px;

      .scrollbar-container {
        max-height: 60%;
        height: initial;
      }

      input[type="text"] {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    footer {
      padding: 16px;
      font: map_get($fonts, riddle);

      .actions {
        button {
          height: 40px;
        }
      }
    }
  }
}
