
$primary-color-dark:   #2e3c4b;
$primary-color:        #5D83D9;
$primary-color-light:  #84CCDC;

$dark-grey: #8b8b8b;
$grey:                 #CECECE;
$light-grey:           #F8FAFC;

$primary-text-color:   #212121;

