.metrics {
  th, td {
    text-align: right;
    font-size: 14px;
    padding: 5px 5px;
  }

  tr:first-child td {
    padding-top: 10px;
  }

  tr td:first-child, tr th:first-child {
    text-align: left;
  }
}