/* MAIN CONFIGURATION - COLOR PALETTES */
$layout-colors: (
        1 : #332e2e,
        2 : #474242,
        3 : #6b6464,
        4 : #9e9898,
        5 : #edeaea,
        6 : #efecec,
        7 : #f2f0f0,
        8 : #f9f7f7,
        section: #fff,
        nav-bars: #fff
);

$theme-colors: (
        1 : #ef5350,
        2 : #fb8c00,
        3 : #9f8c67,
        zookeeper : #14dc44,
        kafka : #d34290,
        danger: #ef5350,
        good: #34f999,
);

$dashboard-colors: (
        background: #e0e0e0,
        default-hexagone-bc: #e6e6e6,
        default-hexagone-border:#fff,
        adjacent-hexagone-bc:#ececec,
        adjacent-hexagone-border:#fff,
        kafka-color: #ef5350,
        kafka-contrast: #fff,
        zookeeper-color: #16af4d,
        disabled-background: #efefef,
        disabled-border: #fff,
        disabled-color: #aaa,
        dead-node: #333349,
        dead-node-contrast: #231d33
);

/* FONT CONFIGURATION */
$families: (
        primary: "Roboto",
        accent: 'Patua One',
        code: "Inconsolata"
);

/* FONT CONFIGURATION */
$fonts: (//Weight, Size, Family, Style
        body: font(regular, normal, primary),
  // TABLE
        thead: font(bold, small, accent),
  // FORMS
        input: font(regular, normal, primary),
        input-placeholder: font(regular, normal, primary, italic),
        switch-value: font(bold, small, accent, italic),
  // BUTTONS
        button: font(semibold, very-big, accent, italic),
        button-dropdown: font(semibold, very-big, accent, italic),
        button-outline: font(semibold, very-big, accent, italic),
  // HEADINGS
        h1: font(semibold, title, accent),
        h2: font(semibold, enormous, accent, italic),
        h3: font(semibold, normal, accent),
        h4: font(semibold, normal, primary),
        subtitle: "Roboto",
        breadcrumb-item: font(regular, very-big, accent),
        address: font(semibold, normal, accent, italic),
  //MESSAGE FETCH WRAPPER
        message-fecth-title: font(bold, very-huge, accent),
        message-fecth-stats: font(regular, normal, primary),
  //MESSAGE JSON
        code: font(regular, normal, code),
        key-message: font(medium, normal, primary),
        message-timestamp: font(regular, small, primary, italic),
        message-partition: font(bold, small, primary, italic),
  // SIMPLE LIST
        list-item-stat: font(regular, normal, primary, italic),
  //OTHER
        riddle: font(regular, big, accent, italic)
);

$text-colors: (
        body: #332e2e,
        h1: map_get($theme-colors, 1),
        h2: #332e2e,
        h3: map_get($theme-colors, 1),
        h4: #332e2e,
        breadcrumb-item: map_get($layout-colors, 4),
        button-dropdown: map_get($layout-colors, 2),
        sidebar-links: map_get($layout-colors, 3),
        sidebar-link-selected: map_get($theme-colors, 1),
        thead: map_get($layout-colors, 4),
        input: #332e2e,
        input-placeholder: map_get($layout-colors, 4),
        switch-label: #332e2e,
        code-punctuation: rgba(map_get($theme-colors, 3), .5),
        code-string: #199441,
        code-null: #515958,
        code-key: map_get($theme-colors, 3),
        code-boolean: #1815e3,
        code-value: #258ee3,
        message-timestamp: map_get($layout-colors, 4),
        message-timestamp-ms: map_get($theme-colors, 3),
        message-partition: map_get($layout-colors, 6),
        list-item-stat: map_get($theme-colors, 1)
);

/*  LAYOUT CONFIGURATION */
$theme-base-fontsize: 15px;

$theme-topnav-shadow: false;
$theme-sidebar-shadow: false;
$theme-message-shadow: true;

$theme-content-padding: 4px; // HAS TO BE ONE NUMBER IN PX
$theme-section-padding: 32px;
$theme-section-vertical-space: 4px;
$theme-grid-gutter-size: 4px;

$theme-inline-radius: 3px;
$theme-section-radius: 6px;
