/* MAIN CONFIGURATION - COLOR PALETTES */
$layout-colors: (
        1 : #cadde5,
        2 : #a3c0cc,
        3 : #809ca8,
        4 : #4c5e69,
        5 : #2d3b44,
        6 : #23313a,
        7 : #1d2a32,
        8 : #0e1c26,
        section: #23313a,
        nav-bars: #1d2a32
);

$theme-colors: (
        1 : #a3ffd3,
        2 : #00ffd8,
        3 : #9ad0b6,
        zookeeper : #6fff98,
        kafka : #f4f07c,
        danger: #ff756f,
        good: #34f999,
);

/* FONT CONFIGURATION */
$families: (
        primary: "Roboto",
        accent: "Roboto condensed",
        code: "Roboto"
);

$dashboard-colors: (
        background: #1d2a32,
        default-hexagone-bc: #23323b,
        default-hexagone-border:#364d5a,
        adjacent-hexagone-bc:#233641,
        adjacent-hexagone-border:#3c5461,
        kafka-color: #f4f07c,
        kafka-contrast: #3f5a6a,
        zookeeper-color: #6fff97,
        disabled-background: #3f5a6a,
        disabled-border: #3f5a6a,
        disabled-color: #253944,
        dead-node: #364d5b,
        dead-node-contrast: #1c263a
);

/* FONT CONFIGURATION */
$fonts: (//Weight, Size, Family, Style
        body: font(regular, normal, primary),
  // TABLE
        thead: font(bold, small, accent),
  // FORMS
        input: font(regular, normal, primary),
        input-placeholder:font(regular, normal, primary, italic),
        switch-value: font(bold, small, accent, italic),
  // BUTTONS
        button: font(semibold, very-big, accent, italic),
        button-dropdown: font(semibold, very-big, accent, italic),
        button-outline: font(semibold, very-big, accent, italic),
  // HEADINGS
        h1: font(semibold, title, accent),
        h2: font(semibold, enormous, accent, italic),
        h3: font(semibold, normal, accent),
        subtitle: "Roboto",
        breadcrumb-item: font(regular, very-big, accent),
        address:                                  font(semibold, normal, accent, italic),
  //MESSAGE FETCH WRAPPER
        message-fecth-title: font(bold, very-huge, accent),
        message-fecth-stats: font(regular, normal, primary),
  //MESSAGE JSON
        code: font(regular, normal, code),
        key-message: font(regular, normal, code),
        message-timestamp: font(regular, small, primary, italic),
        message-partition: font(bold, small, primary, italic),
  // SIMPLE LIST
        list-item-stat: font(regular, normal, primary, italic),
  //OTHER
        riddle:                                   font(regular, big, accent, italic)
);

$text-colors: (
        body: white,
        h1: map_get($theme-colors, 1),
        h2: white,
        h3: map_get($theme-colors, 1),
        h4: white,
        breadcrumb-item: map_get($layout-colors, 4),
        button-dropdown: map_get($layout-colors, 2),
        sidebar-links: map_get($layout-colors, 3),
        sidebar-link-selected: map_get($theme-colors, 1),
        thead: map_get($layout-colors, 4),
        input: white,
        input-placeholder: map_get($layout-colors, 4),
        switch-label: white,
        code-punctuation: rgba(map_get($theme-colors, 3), .5),
        code-string: #d9efec,
        code-null: #899795,
        code-key: map_get($theme-colors, 3),
        code-boolean: #5298e3,
        code-value: #90d2e3,
        message-timestamp: map_get($layout-colors, 3),
        message-timestamp-ms: map_get($theme-colors, 3),
        message-partition: map_get($layout-colors, 6),
        list-item-stat: map_get($theme-colors, 1)
);

/*  LAYOUT CONFIGURATION */
$theme-base-fontsize: 15px;

$theme-topnav-shadow: true;
$theme-sidebar-shadow: true;
$theme-message-shadow: true;

$theme-content-padding: 32px; // HAS TO BE ONE NUMBER IN PX
$theme-section-padding: 32px;
$theme-section-vertical-space: 8px;
$theme-grid-gutter-size: 32px;

$theme-inline-radius: 4px;
$theme-section-radius: 8px;
